<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Monoton|Trocchi" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<title>Eat a Burger!</title>
	</head>
	<body>
		<div class="container">
	<div class="jumbotron">
		<h1 class ="burger">Burger-Fi</h1><br>
		<hr>
		<h3><p class="words">Create Your Own Burger</p>
	
		<img src="/assets/img/burger.png" class="burgerpic">
		<h3><p class="words">or</p>
		<h1 class="burger">Eat a Burger</h1>
		{{{ body }}}
		<div class = "center clear">
<h2 class="words">Create a Burger!</h2>
<form method="POST" action="/burgers/create" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit" class="btn btn-primary words">Make Burger!</button>
</form>
</div>
	</div>
	</div>
		
	</body>
</html>