.burger{
    font-family: 'Monoton', cursive;
    text-align: center
}

.inline{display: inline;
position: relative;
        }

.words{
    font-family: 'Trocchi', serif;
    text-align: center;
}

.answer{
    font-family: 'Gravitas One', cursive;
    text-align: center;
    background-color: #e8f947;
    
}

.center{
    text-align: center;
}

.burgerpic{
    text-align: center;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
.clear{clear: both;}

.coloring{
    background-color: #e0da5b;
}